<!DOCTYPE HTML>
<html 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.w3.org/1999/xhtml" 
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
  	layout:decorate="~{fragments/main_layout}">
  	
<head> 
    <title>Index Auth Page</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    
   	<div layout:fragment="content">

		<div class="container-fluid">
			<div class="row text-center">
				<i class="bi bi-check text-info" style="font-size: 5rem; color: cornflowerblue;"></i>
			</div>
			<div class="row text-center">
				<h3>Error page</h3>
				<h5 class="text-danger" th:text="${errorMessage}"></h5>
			</div>
			<div sec:authorize="isAuthenticated()" class="text-center" >Authorities: <span sec:authentication="principal.authorities"></span></div>
			<div sec:authorize="isAuthenticated()" class="text-center" >This content is only shown to authenticated users.</div>
			<div sec:authorize="isAnonymous()" class="text-center" >This content is only shown to anonymous users.</div>
			<div sec:authorize="hasAuthority('ROLE_ADMIN')" class="text-center" >This content is only shown to Authority ROLE_ADMIN.</div>
			<div sec:authorize="hasAuthority('ROLE_USER')" class="text-center" >This content is only shown to Authority ROLE_USER.</div>
			<div sec:authorize="hasRole('ADMIN')" class="text-center" >This content is only shown to role ADMIN.</div>
			<div sec:authorize="hasRole('USER')" class="text-center" >This content is only shown to role USER.</div>
			<div class="row text-center">
				<a th:href="@{/logout}"><i class="bi bi-box-arrow-right text-warning" style="font-size: 3rem; color: cornflowerblue;"></i></a>
			</div>
		</div>
		
	</div>
    
    
</body>
</html>