<!DOCTYPE HTML>
<html 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.w3.org/1999/xhtml" 
	layout:decorate="~{fragments/main_layout}">

<head> 
    <title>Index page</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    
   	<div layout:fragment="content">

		<div class="container-fluid">
			<div class="row">
				<h4 class="text-center" th:text="'Message: ' + ${message} + '!'" ></h4>
			</div>
			<div class="row justify-content-center">
				<img th:src="@{/static/images/empty_box.png}" class="img-fluid" style="max-width: 100px; width:100%;">
			</div>
		</div>
		
	</div>
    
    
</body>
</html>