:root {
	scroll-behavior: smooth;
}

/* Used to rotate the element */
.rotate {
	-ms-transition: all .3s linear;
	-moz-transition: all .3s linear;
	-webkit-transition: all .3s linear;
	transition: all .3s linear;
}

.rotate.down {
	-ms-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}

.zoom {
	transition: transform .15s; /* Animation */
}

.zoom:hover {
	transform: scale(1.3);
}

.zoom-light {
	transition: transform .15s; /* Animation */
}

.zoom-light:hover {
	transform: scale(1.1);
}

.zoom-high {
	transition: transform .3s; /* Animation */
}

.zoom-high:hover {
	transform: scale(1.5);
}